{% extends "bazaar/base.html" %}
{% load bazaar_tags %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Place bid" class="btn-block btn-warning cosmicbutton button-bid">
      </form>
    </div>
{% endblock content %}



{% block extra_js %}
    <script>
    const values = {
      bid: {{ item.price|default_bid }}
    }

    const keys = Object.keys(values)
    const length = keys.length

    for(let i = 0; i < length; i++){
        const key = keys[i]
        document.getElementsByName(key)[0].value = values[key]
    }
    window.onload = divideByFour;
    </script>
{% endblock extra_js %}