{% extends "bazaar/auction_list.html" %}
{% load static %}
{% load bazaar_tags %}

{% block header %}
<article class="parent content-section"  style="margin-top: 5px;  ">
  <div class="column main">
      <h1 class="header-center">Welcome in Bazaar! </h1>
  </div>
  <div class="sidebar wrapper centering" style="margin-top: 15px; ">
      <form method="GET" action=".">
      <input style="display: inline-block;" type="search" class=" form-control "  id="id_title_contains" name="title_contains" placeholder="Search...">
      <button style="display: inline-block;" type="submit" class="input-group-text bg-transparent cosmicbutton"><i class="fa fa-search"></i></button>
      </form>
  </div>
</article>
{% endblock %}