{% extends "bazaar/base.html" %}
{% block content %}
    <h1 class="mb-3"> {{ item.title }}</h1>
        <article class="media content-section">
          <img class="circle account-img" src="{{ post.main_image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.merchant }}</a>
              <small class="text-muted">{{ post.date_posted|date:"d F Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <p class="text-secondary">{{ post.merchant }}</p>
          </div>
        </article>
{% endblock content %}