{% extends "bazaar/base.html" %}
{% load bazaar_tags %}
{% block content %}

<article class="media content-section">

  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'merchant-items' item.merchant.username %}">{{ item.merchant }}</a>
      <small class="mr-3">{{ item.date_posted|date:"d F Y" }}</small>
        {% if item.merchant == user %}
          <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'item-update' item.slug %}">Edit</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'item-delete' item.slug %}">Delete</a>
        {% endif %}
    </div>
    <div class="auction">
        <div class="auction-image auction-image-main">
           <a target="_blank"  href="{{ item.main_image.url }}" data-lightbox="mygallery" >
             <img class="landscape" src="{{ item.main_image.url }}">
           </a>
        </div>
      <div class="auction-detail">
          <h3>{{ item.title }}</h3>
          <div class="media-body">
            {% if item.merchant != user and item.end_of_auction|left_time != 0 %}
              <a class="btn btn-warning rotation cosmicbutton button-bid" href="{% url 'bidding' item.slug %}">Place bid</a>
            {% endif %}
              <h2 class="article-title" style="float: left;" >${{ item.price }} &nbsp; </h2>
          </div>
      <div style="clear: both;"></div>

        <table class="content-table">
          <tr class="content-table">
            <th class="content-table">
                <small>{{ item.get_condition_display }}</small>
            </th>
            <th class="content-table">
              {% if item.end_of_auction|left_time == 0 %}
                <small class="mr-3 text-danger" > The auction has ended. </small>
              {% else %}
                <small class="mr-3 text-info timer"></small> <!-- javascript timer-->
              {% endif %}
            </th>
          </tr>
          <tr class="content-table">
            <td class="content-table">
                <small>{{ item|number_of_bids }}</small>
            </td>
            <td class="content-table">
              {% if item.end_of_auction|left_time == 0 %}
                <small class="mr-3 text-danger">({{ item.end_of_auction|date:"d.m.Y, H:i:s" }})</small>
              {% else %}
                <small class="mr-3 text-info">({{ item.end_of_auction|date:"d.m.Y, H:i:s" }})</small>
              {% endif %}
            </td>
          </tr>
            <tr class="content-table">
            <td class="content-table">
                <small id="watchers">
                    {{ item.watch_list.count }}
                    {% if item.watch_list.count == 1 %}
                    watcher
                    {% else %}
                    watchers
                    {% endif %}

                </small>
            </td>
            <td class="content-table">
                <a class='watch-btn btn btn-sm btn-info rotation cosmicbutton button-watch'
                   data-href='{{ item.get_api_watch_url }}'
                   data-watch='{{ item.watch_list.count }}'
                   href="{{ item.get_watch_url }}">
                    {% if user in item.watch_list.all %}
                    Unwatch
                    {% else %}
                    Watch
                    {% endif %}
                </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="article-description" >Description</div>
    <p class="article-content">{{ item.description }}</p>
  </div>
</article>

{% for p in item.item_image_set.all %}
{% if p.image %}
    <div class="dropdown">
      <a target="_blank"  href="{{ p.image.url }}" data-lightbox="mygallery" >
        <img src="{{ p.image.url }}" alt="Image Not Found"  class="img-fluid img-thumbnail portrait">
      </a>
    </div>
{% endif %}
{% endfor %}

{% if bids %}
<article class="media content-section centering">
    <div class ="centering">
        <h2 class="header-center">Purchase offers</h2>
        <table>
          <tr>
            <th>Merchant</th>
            <th>Bid Amount</th>
            <th>Bid Time</th>
          </tr>
           {% for bid in bids %}
              <tr class="bid-tr">
                <td> {{ bid.merchant }} </td>
                <td> ${{ bid.bid }} </td>
                <td> {{ bid.date|date:"d F Y, H:i:s" }} </td>
              </tr>
            {% endfor %}
        </table>
    </div>
</article>
{% endif %}

{% endblock content %}



{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
          function updateText(btn, verb){
          btn.text(verb);
      }
    {% if user in item.watch_list.all %}
    var i = 1;
    var k = 1;
    {% else %}
    var i = 1;
    var k = 0;
    {% endif %}
      $(".watch-btn").click(function(e){
        e.preventDefault();
        var this_ = $(this);
        var watch_list_url = this_.attr("data-href");
        var watch_list_count = parseInt(this_.attr("data-watch")) | 0;
        var add_to_watch_list = watch_list_count + i - k;
        var remove_from_watch_list = watch_list_count - k;
        if (watch_list_url){
           $.ajax({
            url: watch_list_url,
            method: "GET",
            data: {},
            }).done(function(data){
              console.log(data);
              var new_watch_list;
              if (data.watched){
                  updateText(this_, "Unwatch");
                  if (watch_list_count+i - k == 1){
                  var answer = watch_list_count+i - k + " watcher"
                  } else {
                  var answer = watch_list_count+i - k + " watchers"
                  }
                  $('#watchers').html(answer);
              } else {
                  updateText(this_, "Watch");
                  if (watch_list_count-k == 1){
                  var answer = watch_list_count-k + " watcher"
                  } else {
                  var answer = watch_list_count-k + " watchers"
                  }
                  $('#watchers').html(answer);
                  // remove one watch
              }
            }).fail(function(error){
              console.log(error);
              console.log("error");
              $(location).attr('href', '{% url 'login' %}');
            });
        }

      });
  });


 $( document ).each(
    setInterval(
    function() {
		var today = new Date();
        var end_of_auction = new Date( "{{ item.end_of_auction.isoformat }}" );

        var left_time_seconds =  Math.floor((end_of_auction - today)/1000);
        var left_time_days = Math.floor( (left_time_seconds )/(3600*24) );
        var left_time_hours = Math.floor( (left_time_seconds %(24*3600) )/3600 );
        var left_time_minutes = Math.floor( (left_time_seconds % 3600)/60 );
        var left_time_seconds =  Math.floor( (left_time_seconds )%(60) );

		var godzina = today.getHours();
		if (godzina<10) godzina = "0"+godzina;

		if (left_time_minutes<10) left_time_minutes = "0"+left_time_minutes;

		if (left_time_seconds<10) left_time_seconds = "0"+left_time_seconds;

      if ( left_time_days > 1 ) {
        var answer = "To the end " + left_time_days + " days left.";
      } else if (left_time_days == 1){
        var answer = "To the end 1 day left.";
      } else {
      var answer =  "Auction ends in " + left_time_hours + ":"
      + left_time_minutes + ":" + left_time_seconds;
      }
		$('.timer').html( answer );

    }, 1000)
);

    </script>
{% endblock extra_js %}