{% extends "bazaar/base.html" %}
{% load bazaar_tags %}
{% block content %}

<article class="media content-section">

  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'merchant-items' item.merchant.username %}">{{ item.merchant }}</a>
      <small class="mr-3">{{ item.date_posted|date:"d F Y" }}</small>
        {% if item.merchant == user %}
          <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'item-update' item.id %}">Edit</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'item-delete' item.id %}">Delete</a>
        {% endif %}
    </div>
    <div class="media content">
      <img class="circle account-img" src="{{ item.main_image.url }}">
      <div class="media-body">
          <h3>{{ item.title }}</h3>
          <div class="media-body">
            {% if item.merchant != user and item.end_of_auction|left_time != 0 %}
              <a class="btn btn-warning" href="{% url 'bidding' item.id %}">Bid</a>
            {% endif %}
              <h2 class="article-title" style="float: left;" >${{ item.price }} &nbsp; </h2>
          </div>
          <div style="clear: both;">
          {% if item.end_of_auction|left_time == 0 %}
            <small class="mr-3 text-danger" > The auction has ended. </small>
          {% else %}
            <small class="mr-3 text-info timer"></small>
          {% endif %}
          </div>
      </div>
    </div>
      <p class="article-content">{{ item.description }}</p>
  </div>



</article>

{% for p in item.item_image_set.all %}
{% if p.image %}
    <div class="dropdown ">
      <a target="_blank"  href="{{ p.image.url }}" >
        <img src="{{ p.image.url }}" alt="Image Not Found"  class="img-thumbnail">
      </a>

      <div class="dropdown-gallery centering">
        <img src="{{ p.image.url }}" alt="Image Not Found" >
      </div>
    </div>

{% endif %}
{% endfor %}

{% if bids %}
<article class="media content-section centering">
    <div class ="centering">
        <h2 class="header-center">Purchase offers</h2>
        <table>
          <tr>
            <th>Merchant</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
           {% for bid in bids %}
              <tr>
                <td> {{ bid.merchant }} </td>
                <td> ${{ bid.bid }} </td>
                <td> {{ bid.date|date:"d F Y, H:i:s" }} </td>
              </tr>
            {% endfor %}
        </table>
    </div>

</article>
{% endif %}

{% endblock content %}



{% block extra_js %}
<script type="text/javascript">
 $( document ).each(
    setInterval(
    function() {
		var today = new Date();
        var end_of_auction = new Date( "{{ item.end_of_auction.isoformat }}" );

        var left_time_seconds =  Math.floor((end_of_auction - today)/1000);
        var left_time_days = Math.floor( (left_time_seconds )/(3600*24) );
        var left_time_hours = Math.floor( (left_time_seconds %(24*3600) )/3600 );
        var left_time_minutes = Math.floor( (left_time_seconds % 3600)/60 );
        var left_time_seconds =  Math.floor( (left_time_seconds )%(60) );

		var godzina = today.getHours();
		if (godzina<10) godzina = "0"+godzina;

		if (left_time_minutes<10) left_time_minutes = "0"+left_time_minutes;

		if (left_time_seconds<10) left_time_seconds = "0"+left_time_seconds;

      if ( left_time_days > 1 ) {
        var answer = "To the end " + left_time_days + " days left.";
      } else if (left_time_days == 1){
        var answer = "To the end 1 day left.";
      } else {
      var answer =  "Auction ends in " + left_time_hours + ":"
      + left_time_minutes + ":" + left_time_seconds;
      }
		$('.timer').html( answer );

	    }, 1000)
    );
    </script>
{% endblock extra_js %}