{% extends "bazaar/base.html" %}
{% block content %}
    <article class="media content-section">
    <div class ="centering">
        <h2 class="header-center">Your bids</h2>
        <table>
          <tr>
            <th>Item</th>
            <th>Your offer</th>
            <th>Date</th>
            <th>Is the highest</th>
          </tr>
           {% for bid in bids %}
              <tr class="bid-tr">
                <td> {{ bid.item }} </td>
                <td> ${{ bid.bid }} </td>
                <td> {{ bid.date|date:"d F Y, H:i:s" }} </td>
                <td> yes/no </td>
              </tr>
            {% endfor %}
        </table>
    </div>
    </article>

{% endblock content %}