{{% extends "bazaar/auction_list.html" %}
{% load static %}
{% load bazaar_tags %}

{% block header %}
    {% if not posts %}
     <article class="media content-section">
        <div class="centering">
            <h2 class="card-title">Your watch list is empty.</h2>
        </div>
     </article>
    {% else %}
    <article class="media content-section">
        <h2 class="header-center centering"> Your watch list ({{ page_obj.paginator.count }})</h2>
    </article>
    {% endif %}

{% endblock header %}