li a {
    color: DarkGoldenRod;
}
body {
    background: white url("images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  color: #00173d;
}

.bg-steel {
    background: white url("images/bg_navbar.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.65;
}

.dj-bazaar-dropdown {
    background-color: transparent;
    color: white;
    text-weight: 900;
    border-color: transparent;
}

.dj-bazaar-dropdown:hover {
    background-color: black;
    color: #ffcc00;
    border-color: transparent;
    opacity: 0.7;
}

.site-header .navbar-nav .nav-link {
  color: #99ffb8;
}

.site-header .navbar-nav .nav-link:hover {
  color: #005ce6;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-nav {
  text-align: right;
  font-weight: bold;
  line-height: 70%;
}
.content-section {
  background: rgba(235, 255, 87, 0.3);
  padding: 10px 20px;
  border: 1px solid #0095ff;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  clear:both;
}

.article-title {
  color: #000000;
}

a.article-title:hover {
  color: #0047b3;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #0062ff
}

.article-metadata a:hover {
  color: #000000;
  text-decoration: none;
}

.article-description {
  font-size: 19px;
  font-weight: 1000px;
  padding-bottom: 1px;
  margin-bottom: 6px;
  border-bottom: 2px solid #6662ff
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  max-width:125px;
  height:auto;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.list-group {
  background-color: rgba(255, 255, 0, 0.25);
    color: rgba(0, 0, 0, 0)
}

.content-section-list-group {
  background-color: rgba(255, 255, 220, 0.25);
}

.transparent-input {
   background-color: rgba(0, 0, 0, 0) !important;
   border:none;
}

.header-center{
  text-align: center;
}

.centering {
    align:center;
    text-align:center;
    margin: auto;
    clear:both;
}

.fieldform{
   background-color: rgba(110, 100, 0, 0) !important;
   border:none;
}


/* position of elements in auction */
.square-width{
    width: 100%;
}
.square {
     position: relative;
     width: 150px;
     height: 150px;
     margin-right: 10px;
     overflow: hidden;
  }
.square img {
     position: absolute;
     max-width: 100%;
     width: 100%;
     height: auto;
     padding: 5px;
     object-fit: cover;
     top: 50%;
     left: 50%;
     transform: translate( -50%, -50%);
 }
img.landscape {
    height: 100%;
    width: auto;
}



*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parent {
  padding: 15px;
}

.parent:after
{
  clear: both;
  content: "";
  display: block;
}


.column {
  display: block;
  float: left;
  width: 100%;
  padding: 10px;
  font-family: Arial;
  font-size: 45px;
}

.main {
}
.sidebar {

  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 770px){
   .main {
    width: 59.66%;
  }
  .sidebar {
    width: 34.33%;
  }
}
@media only screen and (min-width: 1331px){
   .main {
    width: 62%;
  }
  .sidebar {
    width: 32.33%;
  }
}

.wrapper {
	 white-space: nowrap;
    border:1px solid #000;
    display:inline-block;
}

.button-bid{
    border: none;
    background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(240,209,40,0.8505602069929534) 20%, rgba(216,247,60,1) 87%, rgba(85,226,255,1) 100%);
}

.button-watch{
    border: none;
    background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(8,129,126,1) 58%, rgba(0,212,255,1) 100%);
}

.cosmicbutton:hover {
   background-color: #2a2a72;
   background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
   border: none;
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 4s linear infinite;
}


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
/* semi photo gallery */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 5px;
  float: left;
  width: 180px;
  height: 180px;
  overflow: hidden;
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(-360deg); } }



.dropdown .img-thumbnail {
  background: rgba(235, 255, 87, 0.3);
  border: 1px solid #0095ff;
}

.dropdown .img.portrait {
  width: 100%;
  height: auto;
}

.dropdown img {
  position: relative;
  transition: 1.5s;
  padding: 15px;
  left: 50%;
  top: 50%;
  max-height: 100%;
  height: 100%;
  width: auto;
  object-fit: cover;
  transform: translate(-50%,-50%);
}

.dropdown img:hover{
    filter: grayscale(50%);
    transform: scale(1.1) translate(-45%,-45%);
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

/* Table using in bids item_detail*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.content-table{
  border: 0px;
  text-align: left;
  padding: 0px;
}

td, th {
  border: 1px solid rgb(41, 106, 252);
  text-align: left;
  padding: 8px;
}

.bid-tr:nth-child(even) {
  background-color: rgba(235, 255, 87, 0.3);
}