li a {
    color: DarkGoldenRod;
}
body {
    background: white url("images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  color: #00173d;
}

.bg-steel {
  background-color: #1E90FF;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #99ffb8;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgba(235, 255, 87, 0.3);
  padding: 10px 20px;
  border: 1px solid #0095ff;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.article-title {
  color: #000000;
}

a.article-title:hover {
  color: #000000;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #0062ff
}

.article-metadata a:hover {
  color: #000000;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  max-width:125px;
  height:auto;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.list-group {
  background-color: (255, 255, 0, 0.25);
}

.transparent-input {
   background-color: rgba(0, 0, 0, 0) !important;
   border:none;
}

.header-center{
  text-align: center;
}

.fieldform {
   background-color: rgba(0, 0, 0, 0) !important;
   border:none;
}

.gallery {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery .img-thumbnail {
    width:auto;
    height:auto;
}
